@{
    ViewData["Title"] = "Inicio";
}



<div id="app" class="container-fluid vh-100 px-0"
    style="background: linear-gradient(135deg, #6dd5ed 0%, #2193b0 100%);">
    <v-app>
        <menu-superior :seccion="seccionActual" v-on:cambiar-seccion="cambiarSeccion"></menu-superior>
        <v-main>
            <home-section v-if="seccionActual === 'home'"></home-section>
            <about-section v-if="seccionActual === 'about'"></about-section>
            <contact-section v-if="seccionActual === 'contact'"></contact-section>
        </v-main>
    </v-app>
</div>


<!-- Vuetify y Vue 3 CDN -->
<link href="https://cdn.jsdelivr.net/npm/vuetify@3.5.7/dist/vuetify.min.css" rel="stylesheet">
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@3.5.7/dist/vuetify.min.js"></script>

<script src="/components/MenuSuperior.js"></script>
<script src="/components/HomeSection.js"></script>
<script src="/components/AboutSection.js"></script>
<script src="/components/ContactSection.js"></script>
<script>
    const RootApp = {
        template: `
        <v-app>
            <menu-superior :seccion="seccionActual" v-on:cambiar-seccion="cambiarSeccion"></menu-superior>
            <v-main>
                <home-section v-if="seccionActual === 'home'"></home-section>
                <about-section v-if="seccionActual === 'about'"></about-section>
                <contact-section v-if="seccionActual === 'contact'"></contact-section>
            </v-main>
        </v-app>
    `,
        data() {
            return {
                seccionActual: 'home'
            }
        },
        methods: {
            cambiarSeccion(nuevaSeccion) {
                this.seccionActual = nuevaSeccion;
            }
        },
        components: {
            MenuSuperior,
            HomeSection,
            AboutSection,
            ContactSection
        }
    };

    const vuetify = Vuetify.createVuetify();

    Vue.createApp(RootApp).use(vuetify).mount('#app');
</script>
